	/* Top Container - Left */
	.ob_iCboTL
	{
		position: absolute;
    	font-size: 1px;
    	height: 17px;
    	width: 9px;
    	left: 0px;
    	cursor: pointer;
    	background-image: url(images/horizontal.png);
	}
	
	* HTML .ob_iCboTL
	{
	    -background-image: url(images/horizontal.gif);
	}
	
	/* Top Container - Content */
	.ob_iCboTC
	{
		height: 17px;
		line-height: 17px;
		margin-left: 9px;
		margin-right: 15px;
		position: relative;
		cursor: default;
		background-image: url(images/vertical.png);
	}
	
	.ob_iCboTC_T
	{
	    margin-right: 9px !important;
	}
	
	* HTML .ob_iCboTC
	{
	    -background-image: url(images/vertical.gif);
	}
	
	/* Top Container - Right */
	.ob_iCboTR
	{
		position: absolute;    	
    	font-size: 1px;
    	height: 17px;
		width: 15px;
		right: 0px;
		cursor: pointer;
		background-image: url(images/horizontal.png);
	}
	
	* HTML .ob_iCboTR
	{
	    -background-image: url(images/horizontal.gif);
	}
	
	.ob_iCboTR_T
	{
		position: absolute;    	
    	font-size: 1px;
    	height: 17px;
		width: 9px;
		right: 0px;
		background-image: url(images/horizontal-textbox.png);
	}
	
	* HTML .ob_iCboTR_T
	{
	    -background-image: url(images/horizontal-textbox.gif);
	}
	
	/* Input Element */
	.ob_iCboIE
	{
		width: 100%;
		position: absolute;
		left: 0px;
		right: 0px;
		top:0px;
		display: block;
    	background-color: transparent;
    	border: 0px;
    	margin: 0px;
    	padding: 0px;
    	margin-top: 2px !important;
    	font-family: Verdana !important;
		font-size: 10px !important;
		height: 13px !important;
		color: #4B555E !important;
	}
	
	/* Input Element - with image */
	.ob_iCboIE_WI
	{
	    /*padding-left: 18px;*/
	    /*text-indent: 18px;*/
	    margin-left: 18px;
	    position: relative;
	}
	
	/* The image of the selected item, displayed in the top section */
	.ob_iCboTC img
	{
	    position: absolute;
	    left: 0px;
	    top: 2px;
	    height: 16px;
	}
	
	
	
	/* Input Element - Empty Text */
	.ob_iCboIE_ET
	{
	    color: #5b676d !important;
	    font-style: italic !important;
	}
	
	.ob_iCboCIC
	{
		display: none;
	}
	
	
	
	
	
	/* Normal State - top container */
	.ob_iCboITCN
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	vertical-align: middle;
	}
	
	/* Normal State - top container - left */
	.ob_iCboITCN .ob_iCboTL
	{
		background-position: 0px 0px;
	}
	
	/* Normal State - top container - content */
	.ob_iCboITCN .ob_iCboTC
	{
		background-position: 0px 0px;
	}
		
	/* Normal State - top container - right */
	.ob_iCboITCN .ob_iCboTR
	{
		background-position: -9px 0px;
	}
	
	.ob_iCboITCN .ob_iCboTR_T
	{
		background-position: -9px 0px;
	}
	
	.ob_iCboITCN .ob_iCboIE
	{
	}
	
	
	
	
	
	/* Over State - top container */
	.ob_iCboITCO
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	vertical-align: middle;
	}
	
	/* Over State - top container - left */
	.ob_iCboITCO .ob_iCboTL
	{
		background-position: -24px 0px;
	}
	
	/* Over State - top container - content */
	.ob_iCboITCO .ob_iCboTC
	{
		background-position: 0px -17px;
	}
		
	/* Over State - top container - right */
	.ob_iCboITCO .ob_iCboTR
	{
		background-position: -33px 0px;
	}
	
	.ob_iCboITCO .ob_iCboTR_T
	{
		background-position: -27px 0px;
	}
	
	.ob_iCboITCO .ob_iCboIE
	{
	}
	
	
	
	
	
	/* ActiveClosed State - top container */
	.ob_iCboITCAC
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	vertical-align: middle;
	}
	
	/* ActiveClosed State - top container - left */
	.ob_iCboITCAC .ob_iCboTL
	{
		background-position: -48px 0px;
	}
	
	/* ActiveClosed State - top container - content */
	.ob_iCboITCAC .ob_iCboTC
	{
		background-position: 0px -34px;
	}
		
	/* ActiveClosed State - top container - right */
	.ob_iCboITCAC .ob_iCboTR
	{
		background-position: -57px 0px;
	}
	
	.ob_iCboITCAC .ob_iCboTR_T
	{
		background-position: -45px 0px;
	}
	
	.ob_iCboITCAC .ob_iCboIE
	{
	    
	}
	
	
	
	
	
	/* ActiveOpen State - top container */
	.ob_iCboITCAO
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	vertical-align: middle;
	}
	
	/* ActiveOpen State - top container - left */
	.ob_iCboITCAO .ob_iCboTL
	{
		background-position: -72px 0px;
	}
	
	/* ActiveOpen State - top container - content */
	.ob_iCboITCAO .ob_iCboTC
	{
		background-position: 0px -51px;
	}
		
	/* ActiveOpen State - top container - right */
	.ob_iCboITCAO .ob_iCboTR
	{
		background-position: -81px 0px;
	}
	
	.ob_iCboITCAO .ob_iCboTR_T
	{
		background-position: -63px 0px;
	}
	
	.ob_iCboITCAO .ob_iCboIE
	{
	    
	}
	
	
	
	
	
	/* Disabled State - top container */
	.ob_iCboITCD
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	vertical-align: middle;
	}
	
	/* Disabled State - top container - left */
	.ob_iCboITCD .ob_iCboTL
	{
		background-position: -96px 0px;
	}
	
	/* Disabled State - top container - content */
	.ob_iCboITCD .ob_iCboTC
	{
		background-position: 0px -68px;
	}
		
	/* Disabled State - top container - right */
	.ob_iCboITCD .ob_iCboTR
	{
		background-position: -104px 0px;
	}
	
	.ob_iCboITCD .ob_iCboTR_T
	{
		background-position: -81px 0px;
	}
	
	.ob_iCboITCD .ob_iCboIE
	{
	    color: #5b676d;
	}
	
	
	
	
	
	/* items container */
	.ob_iCboIC
	{
		width: 100%;
		height: auto;
		font-size: 10px;
		position: absolute;
		top:18px;
		left:0px;
		visibility: hidden;
		z-index: 9999;
		border: 0px;
	}
	
	.ob_iCboIC_L
	{
	    top: 0px !important;
	    z-index: 0 !important;
	    position: relative !important;
	}
	
	.ob_iCboIC_R
	{
	    
	}
	
	/* items container iframe*/
	.ob_iDdlICIF
	{
		font-size: 10px;
		position: absolute;
		top:18px;
		left:0px;
		margin-top: 0px;
		margin-bottom: 1px;
		z-index: 9998;
	}
	
	
	
	/* items container - header */
	.ob_iCboICH
	{
		position: relative;
    	height: 6px;
    	font-size: 1px;
	}
	
	/* items container - header - with template */
	.ob_iCboICHWT
	{
	    position: relative;
	    height: 17px;
	    color: #5B5B5B;
    	font-size: 11px;
    	font-family: Verdana;
	}
	
	/* items container - header - left side */
	.ob_iCboICHCL
	{
		position: absolute;
    	width: 6px;
    	height: 6px;
    	top: 0px;
    	left: 0px;
		background-image: url(images/drop-down-horizontal.png);
		background-repeat: no-repeat;
		background-position: 0px 0px;
	}
	
	* HTML .ob_iCboICHCL
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	.ob_iCboICHWT .ob_iCboICHCL
	{
	    height: 17px;
	    background-image: url(images/drop-down-horizontal-header-footer.png);
	    background-repeat: no-repeat;
		background-position: 0px 0px;
	}
	
	* HTML .ob_iCboICHWT .ob_iCboICHCL
	{
	    -background-image: url(images/drop-down-horizontal-header-footer.gif);
	}
	
	/* items container - header - middle content */
	.ob_iCboICHCM
	{
		height: 6px;
    	margin-left: 6px;
	    margin-right: 6px;
		background-image: url(images/drop-down-horizontal.png);
		background-repeat: repeat-x;
		background-position: 0px -118px;
	}
	
	* HTML .ob_iCboICHCM
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	/* items container - header - middle content - with template */
	.ob_iCboICHWT .ob_iCboICHCM
	{
	    padding-left: 12px;
	    height: 17px;
	    line-height: 17px;
	    background-image: url(images/drop-down-horizontal-header-footer.png);
		background-repeat: repeat-x;
		background-position: 0px -17px;
	}
	
	* HTML .ob_iCboICHWT .ob_iCboICHCM
	{
	    -background-image: url(images/drop-down-horizontal-header-footer.gif);
	}
	
	/* items container - header - middle content - with template - inner div elements */
	.ob_iCboICHWT .ob_iCboICHCM div
	{
	    position: relative !important;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        overflow: hidden;
        white-space: nowrap;
	}
	
	/* items container - header - right side */
	.ob_iCboICHCR
	{
		position: absolute;
    	width: 6px;
    	height: 6px;
    	top: 0px;
    	right: 0px;
		background-image: url(images/drop-down-horizontal.png);
		background-repeat: no-repeat;
		background-position: 0px -50px;
	}
	
	* HTML .ob_iCboICHCR
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	.ob_iCboICHWT .ob_iCboICHCR
	{
	    height: 17px;
	    background-image: url(images/drop-down-horizontal-header-footer.png);
		background-repeat: no-repeat;
		background-position: -6px 0px;
	}
	
	* HTML .ob_iCboICHWT .ob_iCboICHCR
	{
	    -background-image: url(images/drop-down-horizontal-header-footer.gif);
	}
	
	
	
	/* items container - body */
	.ob_iCboICB
	{
		position: relative;
    	height: 100%;
    	font-size: 1px;
    	/*background-image: url(images/drop-down-horizontal.png);
	    background-position: 0px -216px;
    	background-repeat: repeat-x;
	    background-color: #d0dee5;*/
	}
	
	* HTML .ob_iCboICB
	{
	}
	
	
	/* items container - body left side */
	.ob_iCboICBL
	{
		position: absolute;
    	width: 6px;
    	height: 100%;
    	top: 0px;
    	left: 0px;
		background-image: url(images/drop-down-vertical.png);
		background-position: 0px 0px;
		overflow: hidden;
		z-index: 5;
	}
	
	* HTML .ob_iCboICBL
	{
	    -background-image: url(images/drop-down-vertical.gif);
	}
	
	.ob_iCboICBLI
	{
		position: absolute;
    	width: 6px;
    	height: 44px;
    	top: 0px;
    	left: 0px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -6px;
	}
	
	* HTML .ob_iCboICBLI
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	
	/* items container - body right side */
	.ob_iCboICBR
	{
		position: absolute;
    	width: 6px;
    	height: 100%;
    	top: 0px;
    	right: 0px;
		background-image: url(images/drop-down-vertical.png);
		background-position: -6px 0px;
		overflow: hidden;
		z-index: 5;
	}
	
	* HTML .ob_iCboICBR
	{
	    -background-image: url(images/drop-down-vertical.gif);
	}
	
	.ob_iCboICBRI
	{
		position: absolute;
    	width: 6px;
    	height: 44px;
    	top: 0px;
    	right: 0px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -56px;
	}
	
	* HTML .ob_iCboICBRI
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	
		
	
	
	/* items container - body content*/	
	.ob_iCboICBC
    {
        position: relative;
        vertical-align: top;
    	width: auto;
    	height: 100%;
    	/*min-height: 44px;*/
    	overflow: auto;
    	margin-left: 6px;
	    margin-right: 6px;
	    padding-bottom: 4px;
	    background-image: url(images/drop-down-horizontal.png);
	    background-position: 0px -124px;
    	background-repeat: repeat-x;
	    background-color: #ffffff;
	    font-size: 10px;
	    z-index: 10;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        list-style-type: none !important;
    }
    
    /*.ob_iCboICBCFC
    {
        display: inline-block;
    }*/    
    
    * HTML .ob_iCboICBC
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
    
    .ob_iCboICBC li
    {
        position: relative;
        margin: 0px;
        padding: 0px;
        margin-left: 16px;
        margin-right: 16px;
        height: 17px;
        font-family: Verdana;
	    font-size: 10px;
	    color: #4B555E;
	    cursor: pointer;
	    background-image: none;
    }
        
    .ob_iCboICBC li.ih
    {
        background-image: url(images/lighted.png);
        background-repeat: repeat-x;
        background-position: 0px -34px;
        color: #3d4e93;
    }
    
    * HTML .ob_iCboICBC li.ih
	{
	    -background-image: url(images/lighted.gif);
	}
	
	.ob_iCboICBC li.id
	{
	    color: #AAAAAA;
	}
    
    .ob_iCboICBC li b /*, .ob_iCboICBC li div*/
    {
        background-position: 0px 0px;
        background-repeat: no-repeat;
        position: absolute;
        left: -16px;
        padding-left: 18px;
        right: 0px;
        height: 17px;
        line-height: 15px;
        font-weight: normal;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-align: left !important;
    }
    
    .ob_iCboICBC li.ih b /*, .ob_iCboICBC li.ih div*/
    {
        background-image: url(images/lighted.png);
    }
    
    * HTML .ob_iCboICBC li.ih
	{
	    -background-image: url(images/lighted.gif);
	}
	
	.ob_iCboICBC li b em
	{
	    font-weight: bold !important;
	    font-size: 11px !important;
	    font-style: normal;
	    background-color: #CCCCCC;
	}
    
    .ob_iCboICBC li i
    {
        background-position: 0px -17px;
        background-repeat: no-repeat;
        position: absolute;
        right: -16px;
        height: 17px;
        width: 16px;
        text-indent: 20px;
        overflow: hidden;
        font-size: 0px;
        white-space: nowrap;
    }
    
    .ob_iCboICBC li.ih i
    {
        background-image: url(images/lighted.png);
    }
    
    * HTML .ob_iCboICBC li.ih i
    {
        background-image: url(images/lighted.gif);
    }
    
    .ob_iCboICBC li span
    {
        display: none;
    }
    
    .ob_iCboICBC li b span
    {
        display: inline;
    }
    
    /* Item image */
    .ob_iCboICBC li b img, .ob_iCboICBC li div img
    {
        vertical-align: middle;
        margin-right: 3px;
        height: 16px;
    }
	
	
	
	
	
	/* items container - footer */
	.ob_iCboICF
	{
		position: absolute;
    	height: 6px;
    	font-size: 1px;
    	width: 100%;
    	left: 0px;
	}
	
	/* items container - header - with template */
	.ob_iCboICFWT
	{
	    position: absolute;
	    height: 17px;
	    width: 100%;
	    color: #5B5B5B;
    	font-size: 11px;
    	font-family: Verdana;
	}
	
	/* items container - footer - left side */
	.ob_iCboICFCL
	{
		position: absolute;
    	width: 6px;
    	height: 6px;
    	top: 0px;
    	left: 0px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -100px;
		background-repeat: no-repeat;
		z-index:2;
	}
	
	* HTML .ob_iCboICFCL
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	.ob_iCboICFWT .ob_iCboICFCL
	{
	    height: 17px;
	    background-image: url(images/drop-down-horizontal-header-footer.png);
		background-position: 0px -34px;
		background-repeat: no-repeat;
	}
	
	* HTML .ob_iCboICFWT .ob_iCboICFCL
	{
	    -background-image: url(images/drop-down-horizontal-header-footer.gif);
	}
	
	/* items container - footer - middle content */
	.ob_iCboICFCM
	{
		height: 6px;
    	margin-left: 6px;
	    margin-right: 6px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -106px;
		background-repeat: repeat-x;
		z-index: 1;
	}
	
	* HTML .ob_iCboICFCM
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	.ob_iCboICFWT .ob_iCboICFCM
	{
	    background-image: url(images/drop-down-horizontal-header-footer.png);
		background-position: 0px -51px;
		background-repeat: repeat-x;
	    padding-left: 10px;
	    height: 17px;
	    line-height: 16px;
	    cursor: pointer;
	}
	
	* HTML .ob_iCboICFWT .ob_iCboICFCM
	{
	    -background-image: url(images/drop-down-horizontal-header-footer.gif);
	}
	
	/* items container - footer - right side */
	.ob_iCboICFCR
	{
		position: absolute;
    	width: 6px;
    	height: 6px;
    	top: 0px;
    	right: 0px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -112px;
		background-repeat: no-repeat;
	}
	
	* HTML .ob_iCboICFCR
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	.ob_iCboICFWT .ob_iCboICFCR
	{
	    height: 17px;
	    background-image: url(images/drop-down-horizontal-header-footer.png);
		background-position: -6px -34px;
		background-repeat: no-repeat;
	}
	
	* HTML .ob_iCboICFWT .ob_iCboICFCR
	{
	    -background-image: url(images/drop-down-horizontal-header-footer.gif);
	}
	
	
	
	/* Loading indicator */
	.ob_iCboLI
	{
	    font-family: Verdana;
	    font-size: 10px;
	    color: #2b4c61;
	    height: 27px;
	    line-height: 27px;
	    text-align: center;
	    position: absolute;
	    top: 5px;
	    left: 20px;
	    right: 20px;
	    z-index: 10;
	}
	
	/* Loading indicator - left side */
	.ob_iCboLI_L
	{
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    width: 9px;
	    height: 27px;
	    background-image: url(images/loading.png);
	    background-position: 0px 0px;
		background-repeat: no-repeat;
	}
	
	/* Loading indicator - middle */
	.ob_iCboLI_M
	{
	    margin-left: 9px;
	    margin-right: 9px;
	    height: 27px;
	    background-image: url(images/loading.png);
	    background-position: 0px -27px;
		background-repeat: repeat-x;
	}
	
	/* Loading indicator - right side */
	.ob_iCboLI_R
	{
	    position: absolute;
	    right: 0px;
	    top: 0px;
	    width: 9px;
	    height: 27px;
	    background-image: url(images/loading.png);
	    background-position: -9px 0px;
		background-repeat: no-repeat;
	}
	
	
	
	/* Container for the extra space used by the virtual scrolling feature */
	.ob_iCboVSH
	{
	    /*height: 100px !important;*/
	}